section.advantages
	.title-box
		.container 
			.row 
				.col-lg-6 
					h2.title Наши преимущества
				.col-lg-6 
					.slogan.slogan--white
						p
							| Химки Бизнес Парк — это офисные помещения класса А, 
							br
							| великолепная инфраструктура, оптимальное соотношение  
							br
							| расположения и арендной стоимости.
	.container
		.row
			.col
				.advantages__items
					+advantage('advantages-1.png', 'Панорамное остекление', 'Естественное освещение, широкий обзор и зрительное увеличение помещений')
					+advantage('advantages-2.png', 'Высота потолков готовых помещений 2,8 метра', 'Правильная циркуляция воздуха и комфорт в помещениях')
					+advantage('advantages-3.png', 'Шаг колонн — 9 метров', 'Максимально эффективное использование рабочего пространства')
					+advantage('advantages-4.png', 'Расстояние до ближайшего окна — максимум 9 метров', 'Помещения, наполненные естественным светом и свежим воздухом')
					+advantage('advantages-5.png', 'Регулировка микроклимата помещения по зонам', 'Повышенный комфорт внутри помещения независимо от окружающей среды')
					+advantage('advantages-6.png', 'Свободная планировка ', 'Возможность создать офис вашей мечты, где все будет на своем месте')

