section.awards 
	.container 
		.row 
			.col
				.awards__box
					.awards__video.video 
						img(src="img/video.png", alt="")
					.awards__positions
						h3.awards__title Комплекс Химки Бизнес Парк прошел сертификацию и завоевал награды:
						.awards__items 
							figure.awards__item 
								figcaption The Green Apple
									br
									| Environment 
									br
									| Awards
								img(src="img/award-1.png", alt="award-icon")
							figure.awards__item 
								figcaption Сертификация 
									br
									| BREEAM IN-USE
								img(src="img/award-2.png", alt="award-icon")
							figure.awards__item 
								figcaption EUROPEAN 
									br
									|PROPERTY AWARDS 
									br
									| 2018-2019
								img(src="img/award-3.png", alt="award-icon")