section.dignity
	.title-box
		.container
			.row
				.col-lg-6
					h6.title Достоинства
				.col-lg-6
					.slogan.slogan--white
						p
							| В нашей деятельности мы руководствуемся принципами INGKA —
							br
							| менять к лучшему повседневную жизнь многих людей. Это
							br
							| видение помогает нам двигаться вперед и предоставлять нашим 
							br 
							| партнерам возможности для долгосрочного роста и развития. 
	.container 
		.row 
			.col 
				.dignity__items 
					article.dignity__item
						img.dignity__img(src="img/dignity-1.jpg", alt="dignity")
						.dignity__info
							.dignity__title Аудитория
							.dignity__text 
								img(src="img/plus.png", alt="icon-plus")
								p Ежедневный трафик превышает 5000 автомобилей это более 20000 тыс человек в день.
					article.dignity__item
						img.dignity__img(src="img/dignity-2.jpg", alt="dignity")
						.dignity__info
							.dignity__title Направления
							.dignity__text 
								img(src="img/plus.png", alt="icon-plus")
								p Медиафасады пасположены в 20 метрах от Ленинградского шосе, аэропорт в 20 минутах.
					article.dignity__item
						img.dignity__img(src="img/dignity-3.jpg", alt="dignity")
						.dignity__info
							.dignity__title Расположение
							.dignity__text 
								img(src="img/plus.png", alt="icon-plus")
								p Реклама видна с разных направлений движения. Из эаропорта и шоссе.
