footer.footer 
	.container 
		.row 
			.col 
				.footer__box
					span.footer__rights © Все права защищены - 2021.
					.footer__links 
						a(href="/") Политика конфиденциальности 
						span |
						a(href="/")  Сертификация BREEAM IN-USE
					a.footer__dev.dev(href="/") Разработка и
						br
						| продвижение сайта
						img(src="img/Logo-scrum.png", alt="logo-scrum")