header.header
	img.header__logo(src="img/Logo.png", alt="logo")
	.header__contacts
		a.header__contact(href="mailto:arenda@kbpark.ru") arenda@kbpark.ru
			img(src="img/email.png", alt="mail")
		a.header__contact(href="tel:+4952213311") +495 221-33-11
			img(src="img/call.png", alt="call")
	.header__button.open-menu 
		button.gamburger
			span
			span
			span

