section.home
	.container 
		.row 
			.col-md-4 	
				.home__box 
					h1.home__title 
						span Аренда 
						span офисных 
						span помещений 
						span класса А
					span.home__tagtitle от 350 кв.м 
					button.home__button.button 
						span Забронировать
						img(src="img/button-arrow-white.png", alt="arrow")