section.info 
	.info__banner 
		img.info__logo(src="img/logo-with-text.png", alt="logo")
	.container 
		.row 
			.col 
				.info__box
					.info__content 
						h5.info__title Эффективный инструмент для развития бизнеса
						p.info__text Для решения любых бизнес-задач, связанных с организацией мероприятий, вы всегда можете воспользоваться преимуществами Конференц-центра, объединяющего восемь помещений различной площади. Каждая из комнат подходит для проведения презентаций, встреч, переговоров и оборудована всеми необходимыми средствами коммуникации, такими как сенсорные экраны для трансляции, устройства для аудио- и видеоконференций. Заранее зарезервировать необходимое помещение — это все, о чем вам необходимо позаботиться накануне предстоящего события. 
						ul.info__list 
							li.info__item 
								a.info__link(href="")
									img(src="img/pdf.png", alt="pdf-icon")
									| 2GAETHER: NEW Пространство 2GAETHER (13 этаж)
							li.info__item 
								a.info__link(href="")
									img(src="img/pdf.png", alt="pdf-icon")
									| Комнаты для встреч (14 этаж) 
					.info__protection.protection 
						.protection__wrapper
							.protection__shield 
								img(src="img/shield.png", alt="shield")
							.protection__box
								.protection__title Мы продолжаем работать и у нас безопасно.
								.protection__icons
									.protection__icon
										img(src="img/info-icon-1.png", alt="info-icon")
									.protection__icon
										img(src="img/info-icon-2.png", alt="info-icon")
									.protection__icon
										img(src="img/info-icon-3.png", alt="info-icon")
									.protection__icon
										img(src="img/info-icon-4.png", alt="info-icon")
								p.protection__text Соблюдаем все меры по предотвращению распространения инфекции.
							button.button.protection__button 
								span Арендовать конференц-центр
								img(src="img/button-arrow-white.png", alt="arrow")
				