section.vacancy 
	.title-box
		.container 
			.row 
				.col-lg-6 
					h4.title Свободные помещения
				.col-lg-6 
					.slogan 
						p
							| Много света для воплощения идей. 
							br
							| по вопросам аренды 
							a(href="") обращайтесь 
							br
							| к нашим менеджерам.
	.container 
		.row 
			.col
				.vacancy__box 
					.vacancy__images 
						img.vacancy__image.vacancy__image--1(src="img/Ellipse-3.png", alt="circle-img")
						img.vacancy__image.vacancy__image--2(src="img/Ellipse-2.png", alt="circle-img")
						img.vacancy__image.vacancy__image--3(src="img/Ellipse-1.png", alt="circle-img")
						img.vacancy__image.vacancy__logo(src="img/Logo.png", alt="logo")
					.vacancy__areas.areas
						.areas__row
							.areas__build.build.areas__build--1
								.build__header 
									.build__title Здание 1
									svg.build__icon(viewBox='0 0 150 80')
										g
											polygon(fill='#FFFFFF' points='22.2,78 148.2,78 148.2,2 2.2,2 	')
											path(fill='#207F90' d='M149.7,79.5H21.1L0.3,0.5h149.4V79.5z M23.4,76.5h123.3v-73H4.2L23.4,76.5z')
											g
												g
													path(fill='#207F90' d='M73.5,28.2l-0.6,4.5c1.2-0.3,2.5-0.5,3.9-0.5c3.5,0,6.2,1,8.1,2.9c1.9,2,2.9,4.6,2.9,7.9\
													c0,3.5-1.2,6.2-3.6,8.3s-5.2,3.1-8.5,3.1c-4.5,0-7.9-0.7-10.3-2v-7.1c2.5,1.9,5.4,2.9,8.7,2.9c1.9,0,3.3-0.5,4.2-1.5\
													c0.9-1,1.4-2.2,1.4-3.6c0-1.5-0.5-2.8-1.4-3.7c-0.9-0.9-2.3-1.4-4.2-1.4c-1.5,0-2.8,0.1-3.8,0.3c-1,0.2-2.3,0.7-3.8,1.4l-0.7-0.3\
													L68,21.7h17.2v6.5H73.5z')
								.build__floors.floors
									.floors__item.floor
										.floor__rent.rent
											button.rent__button Арендовать
											span.rent__plan План помещения
										.floor__visible
											img.floor__arrow(src="img/rent-arrow.png", alt="rent-arrow-icon")
											b.floor__val 1387,1 м2
											span.floor__num 12 этаж
									.floors__item.floor
										.floor__rent.rent
											button.rent__button Арендовать
											span.rent__plan План помещения
										.floor__visible
											img.floor__arrow(src="img/rent-arrow.png", alt="rent-arrow-icon")
											b.floor__val 640,3 м2
											span.floor__num 11 этаж
									.floors__item.floor
										.floor__rent.rent
											button.rent__button Арендовать
											span.rent__plan План помещения
										.floor__visible
											img.floor__arrow(src="img/rent-arrow.png", alt="rent-arrow-icon")
											b.floor__val 1313,17 м2
											span.floor__num 4 этаж
									.floors__item.floor
										.floor__rent.rent
											button.rent__button Арендовать
											span.rent__plan План помещения
										.floor__visible
											img.floor__arrow(src="img/rent-arrow.png", alt="rent-arrow-icon")
											b.floor__val 647,15 м2
											span.floor__num 3 этаж
									.floors__item.floor
										.floor__rent.rent
											button.rent__button Арендовать
											span.rent__plan План помещения
										.floor__visible
											img.floor__arrow(src="img/rent-arrow.png", alt="rent-arrow-icon")
											b.floor__val 1300,49 м2
											span.floor__num 2 этаж
							.areas__build.build.areas__build--2
								.build__header 
									.build__title Здание 2
									svg.build__icon(viewBox='0 0 150 80')
										g
											polygon(fill='#FFFFFF' points='22.2,78 148.2,78 148.2,2 2.2,2 	')
											path(fill='#207F90' d='M149.7,79.5H21.1L0.3,0.5h149.4V79.5z M23.4,76.5h123.3v-73H4.2L23.4,76.5z')
											g
												path(fill='#207F90' d='M61.8,48.9l0-7.6l13.6-19h8.4v20.1h4.4v6.4h-4.4v5.6h-8v-5.6H61.8z M75.8,42.9V32.7l-7.3,10.3H75.8z')
								.build__floors.floors
									.floors__item.floor
										.floor__visible
									.floors__item.floor
										.floor__rent.rent
											button.rent__button Арендовать
											span.rent__plan План помещения
										.floor__visible
											img.floor__arrow(src="img/rent-arrow.png", alt="rent-arrow-icon")
											b.floor__val 640,3 м2
											span.floor__num 11 этаж
									.floors__item.floor
										.floor__rent.rent
											button.rent__button Арендовать
											span.rent__plan План помещения
										.floor__visible
											img.floor__arrow(src="img/rent-arrow.png", alt="rent-arrow-icon")
											b.floor__val 1313,17 м2
											span.floor__num 4 этаж
									.floors__item.floor
										.floor__rent.rent
											button.rent__button Арендовать
											span.rent__plan План помещения
										.floor__visible
											img.floor__arrow(src="img/rent-arrow.png", alt="rent-arrow-icon")
											b.floor__val 647,15 м2
											span.floor__num 3 этаж
									.floors__item.floor
										.floor__rent.rent
											button.rent__button Арендовать
											span.rent__plan План помещения
										.floor__visible
											img.floor__arrow(src="img/rent-arrow.png", alt="rent-arrow-icon")
											b.floor__val 1300,49 м2
											span.floor__num 2 этаж
						button.button.vacancy__button 
							span Нужна консультация?
							img(src="img/button-arrow-white.png", alt="arrow")