<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title KB-Park
	body
		//- mixins
		include ./../mixins/_advantage.pug
		include ./../mixins/_mixin2.pug
		include ./../mixins/_mixin3.pug
		include ./../mixins/_mixin4.pug
		include ./../mixins/_mixin5.pug
		// ======================================== HEADER
		include ./../sections/_header.pug
		// ======================================== HOME
		include ./../sections/_home.pug
		// ======================================== НАШИ ПРЕИМУЩЕСТВА
		include ./../sections/_advantages.pug
		// ======================================== НАГРАДЫ
		include ./../sections/_awards.pug
		// ======================================== СВОБОДНЫЕ ПОМЕЩЕНИЯ
		include ./../sections/_vacancy.pug
		// ======================================== ЭФФЕКТИВНЫЙ ИНСТРУМЕНТ ДЛЯ РАЗВИТИЯ БИЗНЕСА
		include ./../sections/_info.pug
		// ======================================== ДОСТОИНСТВА
		include ./../sections/_dignity.pug
		// ======================================== КОНТАКТЫ
		include ./../sections/_contacts.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug









